body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(43,144,43);
background: linear-gradient(321deg, rgba(43,144,43,1) 25%, rgba(120,191,81,1) 94%);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* Background color for the header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better visibility */
    padding: 10px 0;
    z-index: 1000; /* Ensure header is above other elements */
}

header img {
    max-width: 80px;
}

header img:hover {
    box-shadow: 0 0 15px #2b902b; /* Green glow effect */
}
.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
}
nav.menu {
    text-align: center;
}

nav.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav.menu ul li {
    display: inline;
}

nav.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav.menu ul li a:hover {
    color:  #2b902b;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    /*background: url('Background.jpg') center/cover no-repeat;*/
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}
.section h2 {
    text-align: center;
}

.section-box {
    background:  #a9c229  30%;
    background: linear-gradient(circle, #a9c229 25%,#e4cb63 94%);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: full;
    margin: 0 auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.section-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #a9c229 ;
}
.service{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.service img{
    width: 400px;
    height: auto;
    margin-right: 20px;
}
.blog-post {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.service:nth-child(even) img{
    order: 2;
    margin-left: 0;
    margin-right: 20px;
}


.blog-post img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service img:hover, .blog-post img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.blog-post img {
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    width: 100%;
}
